@model WebApplication13.Models.ViewModels.AddTagReq
@{
}

<div class="bg-secondary bg-opacity-1 py-2">
    <div class="container">
        <h1>Add New Tag -Admin Functionality</h1>

    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class=" form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name" asp-for="Name"/>
        </div>

    </form>

    <div class="mb-3">
        <button type="submit" class="btn-dark">Submit</button>
    </div>

</div>+